* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Silkscreen";
}

header {
    width: 100vw;
    height: 100px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: white;
}

.wrapper {
    padding: 0 50px;
    display: flex;
}

.wrapper div {
    display: flex;
    align-items:center ;
    justify-content: center;
}

.button-header {
    position: absolute;
    left: 50px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

main {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px;
    justify-content: center;
}